@use "../index" as *;

header {
	height: $header-height;
	// position: fixed;
	background-color: $header-bg;
	// box-shadow: $shadow-styles;
	border-bottom: 1px solid $light-grey;
	isolation: isolate;
	z-index: 1;
}
