@use "../base/media-queries" as *;

// Display Utility classes
.d {
	&-none {
		display: none !important;
	}
	&-block {
		display: block !important;
	}
	&-inline {
		display: inline !important;
	}
	&-inline-block {
		display: inline-block !important;
	}
	&-flex {
		display: flex !important;
	}
	&-inline-flex {
		display: inline-flex !important;
	}
	&-grid {
		display: grid !important;
	}
	&-inline-grid {
		display: inline-grid !important;
	}
	&-flow-root {
		display: flow-root !important;
	}
	&-table {
		display: table !important;
	}
	&-inherit {
		display: inherit !important;
	}
	&-initial {
		display: initial !important;
	}
	&-revert {
		display: revert !important;
	}
	&-unset {
		display: unset !important;
	}

	&-sm {
		@include break-point(mobile-landscape) {
			&-none {
				display: none !important;
			}
			&-block {
				display: block !important;
			}
			&-inline {
				display: inline !important;
			}
			&-inline-block {
				display: inline-block !important;
			}
			&-flex {
				display: flex !important;
			}
			&-inline-flex {
				display: inline-flex !important;
			}
			&-grid {
				display: grid !important;
			}
			&-inline-grid {
				display: inline-grid !important;
			}
			&-flow-root {
				display: flow-root !important;
			}
			&-table {
				display: table !important;
			}
			&-inherit {
				display: inherit !important;
			}
			&-initial {
				display: initial !important;
			}
			&-revert {
				display: revert !important;
			}
			&-unset {
				display: unset !important;
			}
		}
	}
  
	&-md {
		@include break-point(tablet) {
			&-none {
				display: none !important;
			}
			&-block {
				display: block !important;
			}
			&-inline {
				display: inline !important;
			}
			&-inline-block {
				display: inline-block !important;
			}
			&-flex {
				display: flex !important;
			}
			&-inline-flex {
				display: inline-flex !important;
			}
			&-grid {
				display: grid !important;
			}
			&-inline-grid {
				display: inline-grid !important;
			}
			&-flow-root {
				display: flow-root !important;
			}
			&-table {
				display: table !important;
			}
			&-inherit {
				display: inherit !important;
			}
			&-initial {
				display: initial !important;
			}
			&-revert {
				display: revert !important;
			}
			&-unset {
				display: unset !important;
			}
		}
	}

	&-lg {
		@include break-point(desktop) {
			&-none {
				display: none !important;
			}
			&-block {
				display: block !important;
			}
			&-inline {
				display: inline !important;
			}
			&-inline-block {
				display: inline-block !important;
			}
			&-flex {
				display: flex !important;
			}
			&-inline-flex {
				display: inline-flex !important;
			}
			&-grid {
				display: grid !important;
			}
			&-inline-grid {
				display: inline-grid !important;
			}
			&-flow-root {
				display: flow-root !important;
			}
			&-table {
				display: table !important;
			}
			&-inherit {
				display: inherit !important;
			}
			&-initial {
				display: initial !important;
			}
			&-revert {
				display: revert !important;
			}
			&-unset {
				display: unset !important;
			}
		}
	}

	&-xl {
		@include break-point(desktop-lg) {
			&-none {
				display: none !important;
			}
			&-block {
				display: block !important;
			}
			&-inline {
				display: inline !important;
			}
			&-inline-block {
				display: inline-block !important;
			}
			&-flex {
				display: flex !important;
			}
			&-inline-flex {
				display: inline-flex !important;
			}
			&-grid {
				display: grid !important;
			}
			&-inline-grid {
				display: inline-grid !important;
			}
			&-flow-root {
				display: flow-root !important;
			}
			&-table {
				display: table !important;
			}
			&-inherit {
				display: inherit !important;
			}
			&-initial {
				display: initial !important;
			}
			&-revert {
				display: revert !important;
			}
			&-unset {
				display: unset !important;
			}
		}
	}

	&-xxl {
		@include break-point(desktop-xl) {
			&-none {
				display: none !important;
			}
			&-block {
				display: block !important;
			}
			&-inline {
				display: inline !important;
			}
			&-inline-block {
				display: inline-block !important;
			}
			&-flex {
				display: flex !important;
			}
			&-inline-flex {
				display: inline-flex !important;
			}
			&-grid {
				display: grid !important;
			}
			&-inline-grid {
				display: inline-grid !important;
			}
			&-flow-root {
				display: flow-root !important;
			}
			&-table {
				display: table !important;
			}
			&-inherit {
				display: inherit !important;
			}
			&-initial {
				display: initial !important;
			}
			&-revert {
				display: revert !important;
			}
			&-unset {
				display: unset !important;
			}
		}
	}
}
