@use "../base/media-queries" as *;

// Mixin for flex utility class style
@mixin flex($direction, $justify: false, $align: false) {
  display: flex;
	@if $direction { flex-direction: $direction; }
	@if $justify { justify-content: $justify; }
	@if $align { align-items: $align; }
}

// Flex Utility classes
.flex {
  &-row {
    // flex-direction: row
    @include flex(row);

    &-start {
      // justify-content: flex-start
      @include flex(row, flex-start);

      &-start {
        // align-items: flex-start
        @include flex(row, flex-start, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(row, flex-start, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(row, flex-start, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(row, flex-start, stretch);
      }
    }

    &-end {
      // justify-content: flex-end
      @include flex(row, flex-end);

      &-start {
        // align-items: flex-start
        @include flex(row, flex-end, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(row, flex-end, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(row, flex-end, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(row, flex-end, stretch);
      }
    }

    &-center {
      // justify-content: center
      @include flex(row, center);

      &-start {
        // align-items: flex-start
        @include flex(row, center, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(row, center, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(row, center, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(row, center, stretch);
      }
    }

    &-between {
      // justify-content: space-between
      @include flex(row, space-between);

      &-start {
        // align-items: flex-start
        @include flex(row, space-between, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(row, space-between, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(row, space-between, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(row, space-between, stretch);
      }
    }

    &-around {
      // justify-content: space-around
      @include flex(row, space-around);

      &-start {
        // align-items: flex-start
        @include flex(row, space-around, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(row, space-around, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(row, space-around, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(row, space-around, stretch);
      }
    }

    &-evenly {
      // justify-content: space-evenly
      @include flex(row, space-evenly);

      &-start {
        // align-items: flex-start
        @include flex(row, space-evenly, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(row, space-evenly, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(row, space-evenly, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(row, space-evenly, stretch);
      }
    }

    &-stretch {
      // justify-content: stretch
      @include flex(row, stretch);

      &-start {
        // align-items: flex-start
        @include flex(row, stretch, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(row, stretch, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(row, stretch, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(row, stretch, stretch);
      }
    }
  }

  &-column {
    // flex-direction: column
    @include flex(column);

    &-start {
      // justify-content: flex-start
      @include flex(column, flex-start);

      &-start {
        // align-items: flex-start
        @include flex(column, flex-start, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(column, flex-start, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(column, flex-start, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(column, flex-start, stretch);
      }
    }

    &-end {
      // justify-content: flex-end
      @include flex(column, flex-end);

      &-start {
        // align-items: flex-start
        @include flex(column, flex-end, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(column, flex-end, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(column, flex-end, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(column, flex-end, stretch);
      }
    }

    &-center {
      // justify-content: center
      @include flex(column, center);

      &-start {
        // align-items: flex-start
        @include flex(column, center, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(column, center, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(column, center, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(column, center, stretch);
      }
    }

    &-between {
      // justify-content: space-between
      @include flex(column, space-between);

      &-start {
        // align-items: flex-start
        @include flex(column, space-between, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(column, space-between, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(column, space-between, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(column, space-between, stretch);
      }
    }

    &-around {
      // justify-content: space-around
      @include flex(column, space-around);

      &-start {
        // align-items: flex-start
        @include flex(column, space-around, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(column, space-around, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(column, space-around, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(column, space-around, stretch);
      }
    }

    &-evenly {
      // justify-content: space-evenly
      @include flex(column, space-evenly);

      &-start {
        // align-items: flex-start
        @include flex(column, space-evenly, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(column, space-evenly, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(column, space-evenly, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(column, space-evenly, stretch);
      }
    }

    &-stretch {
      // justify-content: stretch
      @include flex(column, stretch);

      &-start {
        // align-items: flex-start
        @include flex(column, stretch, flex-start);
      }

      &-end {
        // align-items: flex-end
        @include flex(column, stretch, flex-end);
      }

      &-center {
        // align-items: center
        @include flex(column, stretch, center);
      }

      &-stretch {
        // align-items: stretch
        @include flex(column, stretch, stretch);
      }
    }
  }

  &-sm {
    @include break-point(mobile-landscape) {
      &-row {
        // flex-direction: row
        @include flex(row);

        &-start {
          // justify-content: flex-start
          @include flex(row, flex-start);

          &-start {
            // align-items: flex-start
            @include flex(row, flex-start, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, flex-start, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, flex-start, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, flex-start, stretch);
          }
        }

        &-end {
          // justify-content: flex-end
          @include flex(row, flex-end);

          &-start {
            // align-items: flex-start
            @include flex(row, flex-end, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, flex-end, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, flex-end, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, flex-end, stretch);
          }
        }

        &-center {
          // justify-content: center
          @include flex(row, center);

          &-start {
            // align-items: flex-start
            @include flex(row, center, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, center, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, center, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, center, stretch);
          }
        }

        &-between {
          // justify-content: space-between
          @include flex(row, space-between);

          &-start {
            // align-items: flex-start
            @include flex(row, space-between, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-between, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-between, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-between, stretch);
          }
        }

        &-around {
          // justify-content: space-around
          @include flex(row, space-around);

          &-start {
            // align-items: flex-start
            @include flex(row, space-around, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-around, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-around, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-around, stretch);
          }
        }

        &-evenly {
          // justify-content: space-evenly
          @include flex(row, space-evenly);

          &-start {
            // align-items: flex-start
            @include flex(row, space-evenly, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-evenly, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-evenly, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-evenly, stretch);
          }
        }

        &-stretch {
          // justify-content: stretch
          @include flex(row, stretch);

          &-start {
            // align-items: flex-start
            @include flex(row, stretch, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, stretch, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, stretch, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, stretch, stretch);
          }
        }
      }

      &-column {
        // flex-direction: column
        @include flex(column);

        &-start {
          // justify-content: flex-start
          @include flex(column, flex-start);

          &-start {
            // align-items: flex-start
            @include flex(column, flex-start, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, flex-start, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, flex-start, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, flex-start, stretch);
          }
        }

        &-end {
          // justify-content: flex-end
          @include flex(column, flex-end);

          &-start {
            // align-items: flex-start
            @include flex(column, flex-end, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, flex-end, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, flex-end, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, flex-end, stretch);
          }
        }

        &-center {
          // justify-content: center
          @include flex(column, center);

          &-start {
            // align-items: flex-start
            @include flex(column, center, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, center, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, center, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, center, stretch);
          }
        }

        &-between {
          // justify-content: space-between
          @include flex(column, space-between);

          &-start {
            // align-items: flex-start
            @include flex(column, space-between, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-between, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-between, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-between, stretch);
          }
        }

        &-around {
          // justify-content: space-around
          @include flex(column, space-around);

          &-start {
            // align-items: flex-start
            @include flex(column, space-around, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-around, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-around, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-around, stretch);
          }
        }

        &-evenly {
          // justify-content: space-evenly
          @include flex(column, space-evenly);

          &-start {
            // align-items: flex-start
            @include flex(column, space-evenly, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-evenly, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-evenly, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-evenly, stretch);
          }
        }

        &-stretch {
          // justify-content: stretch
          @include flex(column, stretch);

          &-start {
            // align-items: flex-start
            @include flex(column, stretch, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, stretch, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, stretch, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, stretch, stretch);
          }
        }
      }
    }
  }
  &-md {
    @include break-point(tablet) {
      &-row {
        // flex-direction: row
        @include flex(row);

        &-start {
          // justify-content: flex-start
          @include flex(row, flex-start);

          &-start {
            // align-items: flex-start
            @include flex(row, flex-start, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, flex-start, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, flex-start, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, flex-start, stretch);
          }
        }

        &-end {
          // justify-content: flex-end
          @include flex(row, flex-end);

          &-start {
            // align-items: flex-start
            @include flex(row, flex-end, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, flex-end, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, flex-end, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, flex-end, stretch);
          }
        }

        &-center {
          // justify-content: center
          @include flex(row, center);

          &-start {
            // align-items: flex-start
            @include flex(row, center, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, center, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, center, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, center, stretch);
          }
        }

        &-between {
          // justify-content: space-between
          @include flex(row, space-between);

          &-start {
            // align-items: flex-start
            @include flex(row, space-between, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-between, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-between, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-between, stretch);
          }
        }

        &-around {
          // justify-content: space-around
          @include flex(row, space-around);

          &-start {
            // align-items: flex-start
            @include flex(row, space-around, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-around, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-around, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-around, stretch);
          }
        }

        &-evenly {
          // justify-content: space-evenly
          @include flex(row, space-evenly);

          &-start {
            // align-items: flex-start
            @include flex(row, space-evenly, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-evenly, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-evenly, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-evenly, stretch);
          }
        }

        &-stretch {
          // justify-content: stretch
          @include flex(row, stretch);

          &-start {
            // align-items: flex-start
            @include flex(row, stretch, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, stretch, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, stretch, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, stretch, stretch);
          }
        }
      }

      &-column {
        // flex-direction: column
        @include flex(column);

        &-start {
          // justify-content: flex-start
          @include flex(column, flex-start);

          &-start {
            // align-items: flex-start
            @include flex(column, flex-start, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, flex-start, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, flex-start, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, flex-start, stretch);
          }
        }

        &-end {
          // justify-content: flex-end
          @include flex(column, flex-end);

          &-start {
            // align-items: flex-start
            @include flex(column, flex-end, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, flex-end, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, flex-end, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, flex-end, stretch);
          }
        }

        &-center {
          // justify-content: center
          @include flex(column, center);

          &-start {
            // align-items: flex-start
            @include flex(column, center, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, center, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, center, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, center, stretch);
          }
        }

        &-between {
          // justify-content: space-between
          @include flex(column, space-between);

          &-start {
            // align-items: flex-start
            @include flex(column, space-between, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-between, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-between, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-between, stretch);
          }
        }

        &-around {
          // justify-content: space-around
          @include flex(column, space-around);

          &-start {
            // align-items: flex-start
            @include flex(column, space-around, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-around, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-around, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-around, stretch);
          }
        }

        &-evenly {
          // justify-content: space-evenly
          @include flex(column, space-evenly);

          &-start {
            // align-items: flex-start
            @include flex(column, space-evenly, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-evenly, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-evenly, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-evenly, stretch);
          }
        }

        &-stretch {
          // justify-content: stretch
          @include flex(column, stretch);

          &-start {
            // align-items: flex-start
            @include flex(column, stretch, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, stretch, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, stretch, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, stretch, stretch);
          }
        }
      }
    }
  }
  &-lg {
    @include break-point(desktop) {
      &-row {
        // flex-direction: row
        @include flex(row);

        &-start {
          // justify-content: flex-start
          @include flex(row, flex-start);

          &-start {
            // align-items: flex-start
            @include flex(row, flex-start, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, flex-start, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, flex-start, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, flex-start, stretch);
          }
        }

        &-end {
          // justify-content: flex-end
          @include flex(row, flex-end);

          &-start {
            // align-items: flex-start
            @include flex(row, flex-end, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, flex-end, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, flex-end, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, flex-end, stretch);
          }
        }

        &-center {
          // justify-content: center
          @include flex(row, center);

          &-start {
            // align-items: flex-start
            @include flex(row, center, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, center, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, center, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, center, stretch);
          }
        }

        &-between {
          // justify-content: space-between
          @include flex(row, space-between);

          &-start {
            // align-items: flex-start
            @include flex(row, space-between, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-between, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-between, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-between, stretch);
          }
        }

        &-around {
          // justify-content: space-around
          @include flex(row, space-around);

          &-start {
            // align-items: flex-start
            @include flex(row, space-around, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-around, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-around, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-around, stretch);
          }
        }

        &-evenly {
          // justify-content: space-evenly
          @include flex(row, space-evenly);

          &-start {
            // align-items: flex-start
            @include flex(row, space-evenly, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-evenly, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-evenly, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-evenly, stretch);
          }
        }

        &-stretch {
          // justify-content: stretch
          @include flex(row, stretch);

          &-start {
            // align-items: flex-start
            @include flex(row, stretch, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, stretch, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, stretch, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, stretch, stretch);
          }
        }
      }

      &-column {
        // flex-direction: column
        @include flex(column);

        &-start {
          // justify-content: flex-start
          @include flex(column, flex-start);

          &-start {
            // align-items: flex-start
            @include flex(column, flex-start, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, flex-start, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, flex-start, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, flex-start, stretch);
          }
        }

        &-end {
          // justify-content: flex-end
          @include flex(column, flex-end);

          &-start {
            // align-items: flex-start
            @include flex(column, flex-end, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, flex-end, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, flex-end, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, flex-end, stretch);
          }
        }

        &-center {
          // justify-content: center
          @include flex(column, center);

          &-start {
            // align-items: flex-start
            @include flex(column, center, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, center, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, center, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, center, stretch);
          }
        }

        &-between {
          // justify-content: space-between
          @include flex(column, space-between);

          &-start {
            // align-items: flex-start
            @include flex(column, space-between, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-between, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-between, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-between, stretch);
          }
        }

        &-around {
          // justify-content: space-around
          @include flex(column, space-around);

          &-start {
            // align-items: flex-start
            @include flex(column, space-around, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-around, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-around, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-around, stretch);
          }
        }

        &-evenly {
          // justify-content: space-evenly
          @include flex(column, space-evenly);

          &-start {
            // align-items: flex-start
            @include flex(column, space-evenly, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-evenly, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-evenly, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-evenly, stretch);
          }
        }

        &-stretch {
          // justify-content: stretch
          @include flex(column, stretch);

          &-start {
            // align-items: flex-start
            @include flex(column, stretch, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, stretch, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, stretch, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, stretch, stretch);
          }
        }
      }
    }
  }
  &-xl {
    @include break-point(desktop-lg) {
      &-row {
        // flex-direction: row
        @include flex(row);

        &-start {
          // justify-content: flex-start
          @include flex(row, flex-start);

          &-start {
            // align-items: flex-start
            @include flex(row, flex-start, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, flex-start, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, flex-start, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, flex-start, stretch);
          }
        }

        &-end {
          // justify-content: flex-end
          @include flex(row, flex-end);

          &-start {
            // align-items: flex-start
            @include flex(row, flex-end, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, flex-end, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, flex-end, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, flex-end, stretch);
          }
        }

        &-center {
          // justify-content: center
          @include flex(row, center);

          &-start {
            // align-items: flex-start
            @include flex(row, center, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, center, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, center, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, center, stretch);
          }
        }

        &-between {
          // justify-content: space-between
          @include flex(row, space-between);

          &-start {
            // align-items: flex-start
            @include flex(row, space-between, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-between, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-between, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-between, stretch);
          }
        }

        &-around {
          // justify-content: space-around
          @include flex(row, space-around);

          &-start {
            // align-items: flex-start
            @include flex(row, space-around, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-around, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-around, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-around, stretch);
          }
        }

        &-evenly {
          // justify-content: space-evenly
          @include flex(row, space-evenly);

          &-start {
            // align-items: flex-start
            @include flex(row, space-evenly, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-evenly, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-evenly, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-evenly, stretch);
          }
        }

        &-stretch {
          // justify-content: stretch
          @include flex(row, stretch);

          &-start {
            // align-items: flex-start
            @include flex(row, stretch, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, stretch, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, stretch, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, stretch, stretch);
          }
        }
      }

      &-column {
        // flex-direction: column
        @include flex(column);

        &-start {
          // justify-content: flex-start
          @include flex(column, flex-start);

          &-start {
            // align-items: flex-start
            @include flex(column, flex-start, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, flex-start, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, flex-start, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, flex-start, stretch);
          }
        }

        &-end {
          // justify-content: flex-end
          @include flex(column, flex-end);

          &-start {
            // align-items: flex-start
            @include flex(column, flex-end, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, flex-end, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, flex-end, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, flex-end, stretch);
          }
        }

        &-center {
          // justify-content: center
          @include flex(column, center);

          &-start {
            // align-items: flex-start
            @include flex(column, center, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, center, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, center, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, center, stretch);
          }
        }

        &-between {
          // justify-content: space-between
          @include flex(column, space-between);

          &-start {
            // align-items: flex-start
            @include flex(column, space-between, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-between, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-between, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-between, stretch);
          }
        }

        &-around {
          // justify-content: space-around
          @include flex(column, space-around);

          &-start {
            // align-items: flex-start
            @include flex(column, space-around, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-around, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-around, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-around, stretch);
          }
        }

        &-evenly {
          // justify-content: space-evenly
          @include flex(column, space-evenly);

          &-start {
            // align-items: flex-start
            @include flex(column, space-evenly, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-evenly, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-evenly, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-evenly, stretch);
          }
        }

        &-stretch {
          // justify-content: stretch
          @include flex(column, stretch);

          &-start {
            // align-items: flex-start
            @include flex(column, stretch, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, stretch, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, stretch, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, stretch, stretch);
          }
        }
      }
    }
  }

  &-xxl {
    @include break-point(desktop-xl) {
      &-row {
        // flex-direction: row
        @include flex(row);

        &-start {
          // justify-content: flex-start
          @include flex(row, flex-start);

          &-start {
            // align-items: flex-start
            @include flex(row, flex-start, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, flex-start, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, flex-start, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, flex-start, stretch);
          }
        }

        &-end {
          // justify-content: flex-end
          @include flex(row, flex-end);

          &-start {
            // align-items: flex-start
            @include flex(row, flex-end, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, flex-end, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, flex-end, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, flex-end, stretch);
          }
        }

        &-center {
          // justify-content: center
          @include flex(row, center);

          &-start {
            // align-items: flex-start
            @include flex(row, center, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, center, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, center, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, center, stretch);
          }
        }

        &-between {
          // justify-content: space-between
          @include flex(row, space-between);

          &-start {
            // align-items: flex-start
            @include flex(row, space-between, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-between, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-between, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-between, stretch);
          }
        }

        &-around {
          // justify-content: space-around
          @include flex(row, space-around);

          &-start {
            // align-items: flex-start
            @include flex(row, space-around, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-around, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-around, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-around, stretch);
          }
        }

        &-evenly {
          // justify-content: space-evenly
          @include flex(row, space-evenly);

          &-start {
            // align-items: flex-start
            @include flex(row, space-evenly, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, space-evenly, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, space-evenly, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, space-evenly, stretch);
          }
        }

        &-stretch {
          // justify-content: stretch
          @include flex(row, stretch);

          &-start {
            // align-items: flex-start
            @include flex(row, stretch, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(row, stretch, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(row, stretch, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(row, stretch, stretch);
          }
        }
      }

      &-column {
        // flex-direction: column
        @include flex(column);

        &-start {
          // justify-content: flex-start
          @include flex(column, flex-start);

          &-start {
            // align-items: flex-start
            @include flex(column, flex-start, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, flex-start, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, flex-start, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, flex-start, stretch);
          }
        }

        &-end {
          // justify-content: flex-end
          @include flex(column, flex-end);

          &-start {
            // align-items: flex-start
            @include flex(column, flex-end, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, flex-end, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, flex-end, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, flex-end, stretch);
          }
        }

        &-center {
          // justify-content: center
          @include flex(column, center);

          &-start {
            // align-items: flex-start
            @include flex(column, center, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, center, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, center, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, center, stretch);
          }
        }

        &-between {
          // justify-content: space-between
          @include flex(column, space-between);

          &-start {
            // align-items: flex-start
            @include flex(column, space-between, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-between, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-between, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-between, stretch);
          }
        }

        &-around {
          // justify-content: space-around
          @include flex(column, space-around);

          &-start {
            // align-items: flex-start
            @include flex(column, space-around, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-around, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-around, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-around, stretch);
          }
        }

        &-evenly {
          // justify-content: space-evenly
          @include flex(column, space-evenly);

          &-start {
            // align-items: flex-start
            @include flex(column, space-evenly, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, space-evenly, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, space-evenly, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, space-evenly, stretch);
          }
        }

        &-stretch {
          // justify-content: stretch
          @include flex(column, stretch);

          &-start {
            // align-items: flex-start
            @include flex(column, stretch, flex-start);
          }

          &-end {
            // align-items: flex-end
            @include flex(column, stretch, flex-end);
          }

          &-center {
            // align-items: center
            @include flex(column, stretch, center);
          }

          &-stretch {
            // align-items: stretch
            @include flex(column, stretch, stretch);
          }
        }
      }
    }
  }
}
